[submodule "lib/can_interface"]
	path = lib/can_interface
	url = https://github.com/RobotikUTT/Info-2019_Interface.git
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "lib/ArduinoSTL"]
	path = lib/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL.git
[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
